.playView-elementsContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../media/liquid-cheese2.svg");
    background-size: cover;
    overflow: scroll;
}

.playView-cardsContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 450px;
    min-width: 440px
}

.playView-hudContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
    max-width: 850px;
    min-width: 450px
}

.playView-text {
    font-size: 30px;
    color: var(--primary-color)
}

.playView-resetBtn {
    width: 130px;
    font-size: 25px;
}

.youWin {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    background-color: var(--primary-color);
    border-radius: 9px;
    border-style: groove;
    border-color: var(--secondary-color);
    border-width: 6px;
    margin-bottom: 10px;
}