.playView-elementsContainer {
    width: 100%;
    height: calc(var);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-color);
    background-image: url("../media/liquid-cheese.svg");
    background-size: cover;
    overflow: scroll;
    /*margin-top: 40px;*/
}

.playView-cardsContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.playView-hudContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Única forma para ver el HUD con el flex position*/
    margin-top: 60px;
}

.playView-text {
    font-size: 25px;
    color: var(--light-color)
}

.playView-resetBtn {
    width: 130px;
    font-size: 25px;
}