.scoresView {
    width: 100%;
    height: calc(100% - var(--navigationContainer-height));
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../media/liquid-cheese2.svg");
    background-size: cover;
    overflow: scroll;
    top: var(--navigationContainer-height);
    padding-top: 15px;
}