:root {
    --primary-color-dark: #181a27;
    --primary-color: #292C44;
    --primary-color-light: #404469;
    --secondary-color-dark: #c23e37;
    --secondary-color: #FF5349;
    --secondary-color-light: #fb6d66;
    --tertiary-color: #4F80E1;
    --tertiary-color-light: rgb(101, 174, 242);
    --tertiary-color-dark: #3c6fd6d4;
    --background-color: #18CDCA;
    --background-color-light: #1eede9;
    --light-color: #f0f0f1;
    --navigationContainer-height: 60px;
    --fade-color: rgb(0, 0, 0, 0);

}

@font-face {
    font-family: 'customFont';
    src: url('..//media/rimouski\ sb.otf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    font-family: 'customFont';
}



button {
    min-width: 60px;
    border-style: none;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    color: white;
    background-color: var(--secondary-color);
    outline: none;
}

.mainContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    background-image: url("../media/liquid-cheese.svg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/*uso de variables para estilos de css, se declaran en el root*/
.contentContainer {
    width: 100%;
    height: calc(100% - var(--navigationContainer-height));
}

.game-button {
    height: 50px;
    width: 60%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
    color: var(--light-color);
    max-width: 300px;
}

.game-button-duo {
    height: 50px;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
    color: white
}

/*navigation container css*/

.navigationContainer {
    position: fixed;
    background-color: var(--primary-color);
    width: 100%;
    height: var(--navigationContainer-height);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    z-index: 60;
}

/*.navigationContainer-content{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}*/

.navigationContainer-back-button {
    position: fixed;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    cursor: pointer;
    user-select: none;
}

.navigationContainer-title {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: aliceblue;
}

.hidden {
    display: none;
}